.tasklist {
  min-height: 90vh;
}

ul {
  list-style-type: none;
}

textarea {
  resize: none
}

.button {
  border-radius: .5rem;
    background-color: #a9d1d7;
  font-size: 1em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid #2c8f9e;
  &:disabled {
      background-color: #ccc;
      border-color: #ccc;
      cursor: not-allowed;
    }
 color: dimgray;
}

.delete-button {
  @extend .button;
  background: red;
    color: white;
    }
    
    .container {
      background-color: #a9d1d7
    }
    
    .close-button {
      background-color: #a9d1d7;
      border: 0;
      border-radius: 10%;
}